
<div class="container py-4 justify-content-center align-items-center"  >
    <div class="container-fluid">
        <form *ngIf="clientData" >
            <div class="row">
                <!--Nombre-->
                <mat-form-field class="col-md-6 " appearance="fill" >
                    <mat-label for="name" class="form-label">Nombre</mat-label>
                    <input matInput type="text" name="name" id="name" [(ngModel)]="clientData.name" readonly >
                </mat-form-field>
                <!--Rut-->
                <mat-form-field class="col-md-6 "  appearance="fill">
                    <mat-label for="rut" class="form-label">Rut</mat-label>
                    <input matInput type="text" name="rut" id="rut" [(ngModel)]="clientData.rut" readonly  >
                </mat-form-field>
                <!--Email-->
                <mat-form-field class="col-md-6 "  appearance="fill">
                    <mat-label for="email" class="form-label">Email </mat-label>
                    <input matInput type="email" name="email" id="email" [(ngModel)]="clientData.email"  readonly  > 
                </mat-form-field>
                <!--Telefono-->
                <mat-form-field class="col-md-6 "  appearance="fill">
                    <mat-label for="phone" class="form-label">Teléfono </mat-label>
                    
                    <input matInput type="phone" id="phone" name="phone" [(ngModel)]="clientData.phone" readonly>
                </mat-form-field>
                <mat-form-field class="col-md-6 "  appearance="fill">
                    <mat-label for="phone2" class="form-label">Teléfono 2 </mat-label>
                    <span matPrefix>+56 &nbsp;</span>
                    <input required matInput type="tel" id="phone" placeholder="(9)XXX-XX-XXX" name="phone2" [(ngModel)]="clientData.phone2" pattern="([0-9]{9})">
                    <mat-error *ngIf="clientForm.get('phone2')?.invalid">Ingrese un número con 9 dígitos</mat-error>
                </mat-form-field>
                <!--Direccion-->
                <mat-form-field class="col-md-6" appearance="fill">
                    
                    <mat-label for="county" class="form-label">Comuna</mat-label>
                    <input matInput type="text" id="county" name="county"  [(ngModel)]="clientData.county" readonly  > 
                
                </mat-form-field>
                <mat-form-field class="col-md-12" appearance="fill">
                    <mat-label for="address" class="form-label">Dirección</mat-label>
                    <input matInput type="text" id="address" name="address" [(ngModel)]="clientData.address" readonly >
                </mat-form-field>
            </div>
            <div class="d-grid gap-2 d-md-flex d-lg-flex justify-content-md-center mb-2">
                <button mat-raised-button color="primary" (click)="updateClientContact()" >Actualizar datos</button>
                <button-wrongdata></button-wrongdata>
            </div>
            
        </form>
    </div>
    
</div>
