.alert{
  width: 50%;
        
}
.mat-form-field{
  display: flexbox;
}

input:disabled {
  color: black;
}

#form{
  border-radius: 5px;
}

.form-label{
  color: black;
  font-weight: bold;
}
button{
  font-family: 'Inter', sans-serif;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  
  font-weight: bold;
  padding: 5px 25px;
  letter-spacing: 1px;
}
  
