.alert{
    width:  50%;
        
}
#clientForm{
    background-color: #F8F9F9;
}

.mat-form-field{
    display: flexbox;
}

.form-label{
    color: black;
    font-weight: bold;
}
button{
    border-radius: 30px;
}