<h2 mat-dialog-title>Datos de contacto</h2>
<p>Estos son los campos disponibles para corregir. Por favor, ingrese la información correcta en el campo que ud. considera erróneo.</p>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Telefono 2</mat-label>
      <input formControlName="phone2" matInput placeholder="+569XXXXXXXX" >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Dirección</mat-label>
      <input formControlName="direccion" matInput placeholder="calle - enumeración" >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Comuna</mat-label>
      <input formControlName="comuna" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Referencias</mat-label>
      <input formControlName="referencias" matInput>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="accent" mat-dialog-close>Cerrar</button>
  <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">Enviar</button>
</div>