<h1 mat-dialog-title>Modificar Tipo Servicio</h1>
<div mat-dialog-content >
    <form [formGroup]="changeServiceForm" >
        <mat-form-field appearance="outline" >
            <mat-select required formControlName="servicioModificado" name="service" placeholder="Selecciona un Servicio">
              <mat-option value="Armado Mueble">Armado Mueble</mat-option>
              <mat-option value="Armado Parrilla" >Armado Parrilla</mat-option>
              <mat-option value="Inspección Técnica de muebles">Inspección Técnica de muebles</mat-option>
              <mat-option value="Retiro ecológico">Retiro ecológico</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-button color="accent" mat-dialog-close>Cerrar</button>
    <button type="submit" mat-raised-button color="primary" (click)="onSubmit()" >Enviar</button>
</div>