<h1 mat-dialog-title>Modificar Producto</h1>
<div mat-dialog-content >
  <form [formGroup]="changeProductForm" >
    <!--Nombre producto-->
    <mat-form-field appearance="fill">
      <mat-label>Ingrese el nombre del producto</mat-label>
      <input formControlName="nameProduct" name="nameProduct" matInput>
    </mat-form-field>
    <!--Código producto-->
    <mat-form-field appearance="fill">
      <mat-label>Ingrese el código del producto</mat-label>
      <input formControlName="skuProduct" name="skuProduct" matInput>
    </mat-form-field>
    <!--Comprobante-->
    <mat-form-field appearance="outline">
      <mat-label>Adjunte Comprobante: Boleta o foto del producto</mat-label>
      <input matInput disabled><input [src]="img" type="file" formControlName="img" id="img"
      name="img" (change)="onFileSelected($any($event.target).files)" />
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="accent" mat-dialog-close>Cerrar</button>
  <button type="submit" mat-raised-button color="primary" (click)="onSubmit()" >Enviar</button>
</div>