<h1 mat-dialog-title class="text-center">Modificar Producto</h1>
<div mat-dialog-content >
  <form [formGroup]="changeProductForm" >
    <mat-form-field appearance="fill">
      <mat-label>Ingrese el nombre del producto</mat-label>
      <input formControlName="nameProduct" name="nameProduct" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ingrese el código del producto</mat-label>
      <input formControlName="skuProduct" name="skuProduct" matInput>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Adjunte Comprobante: Boleta o Caja (Embalaje)</mat-label>
      <input matInput disabled> <input formControlName="img" name="img"  type="file">
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-button mat-dialog-close>Cerrar</button>
  <button [disabled]="!changeProductForm.valid" type="submit" mat-raised-button color="primary" (click)="onSubmit()" >Enviar</button>
</div>