 <mat-dialog-content>
    <p>Ingrese el nombre de producto que aparece en su boleta</p>
    <mat-form-field class="col-sm-12 col-md-12" appearance="fill">
      <mat-label>Nombre de producto</mat-label>
      <input matInput [(ngModel)]="data.animal">
    </mat-form-field>
    <p>Ingrese el SKU de producto que aparece en su boleta</p>
    <mat-form-field class="col-sm-12 col-md-12 " appearance="fill">
      <mat-label>SKU de producto</mat-label>
      <input matInput [(ngModel)]="data.animal">
    </mat-form-field>
    <p>Adjunte comprobante: boleta o caja del producto</p>
    <mat-form-field class="col-sm-12 col-md-12 " appearance="fill">
      <input matInput disabled>  <upload-image></upload-image>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cerrar</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Guardar cambios</button>
</mat-dialog-actions>