header{
    font-family: 'Cerebri Sans', sans-serif;
}
span{
    font-size: small;
}
.fs-4 {
    font-size: calc(1.100rem + .3vw)!important;
}

*, ::after, ::before {
    box-sizing: border-box;
}
img{
    margin-right: 10px;
}

.d-flex {
    display: flex!important;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    font-size: large;
    
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-link:hover{
    color: #797979;
}
.link-dark {
    color: #212529;
}
.px-2 {
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
}