footer{
    background-color: black;
    font-family: 'Cerebri Sans', sans-serif;

    img{
        width: 50%;
    }
    a{
        color: white;
    }
    a:hover{
        color: #1cb8d1;
    }
    h3{
        color: #1cb8d1;
    }
}

