
footer{
    background-color: black;
    color: white;
    margin-top: 20px;
    box-shadow: 0 0 5px 0px rgba(0,0,0,.5);

    img{
        width: 50%;
    }
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color: #1cb8d1;
        transition:color .5s;
    }
    h5{
        color: #1cb8d1;
    }
    
}

