
footer{
    background-color: #131514;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;

    img{
        width: 50%;
    }
    a{
        color: white;
    }
    a:hover{
        color: #1cb8d1;
    }
    h3{
        color: #1cb8d1;
    }
    
}

