
* {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
#course{
	width: 100%;
	
}

.course {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

.course h6 {
	
	opacity: 0.6;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	text-align: center;
	letter-spacing: 1px;
	font-size: 15px;
	cursor: pointer;
}


.course-preview {
	background-color: #424242;
	color: #fff;
	padding: 30px;
	width: 45%;
}

a {
	color: #fff;
	display: inline-block;
	font-size: 10px;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1px;
	cursor: pointer;
}
a:hover {
	transition: 1s;
	border-bottom: #ddd;
}


.btn {
	background-color: #424242;
	border-radius: 10px;
	color: #fff;
	font-size: 10px;
	padding: 12px 25px;
}
.btn:hover{
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 500px) {
	.course {
		display: block;
		max-width: 100%;
	}
	.course-preview {
		color: #fff;
		width: 100%;
	}

}
@media screen and (max-width: 800px) {
	.course {
		display: block;
		max-width: 100%;
	}
	.course-preview {
		color: #fff;
		padding: 20px;
		width: 100%;
	}

}