<div class="container py-4 " id="course">
    <div class="courses-container text-center" *ngFor="let data of detail">
        <div class="course">
            <div class="course-preview">
                <h6>Producto</h6>
                <h2>{{data.productName}}</h2>
                <h6>Cantidad</h6>
                <h6>{{data.quantity}}</h6>
                <editproduct-dialog></editproduct-dialog>
            </div>
            <div class="course-info card-body">
                <h6 class="card-title">{{data.proveedor}}</h6>
                <h2 class="card-text">Tipo Servicio: {{data.servicio}}</h2>
                <h6>Número de orden: {{data.orderId}}</h6>
                <editservice-dialog></editservice-dialog>
            </div>
            
        </div>
    </div>
</div>


