<div class="row" *ngFor="let detail of details" >
    <!--Orden ID-->
    <mat-form-field class="col-md-6 text-center" appearance="fill" >
        <mat-label for="orderId" class="form-label">ID Orden</mat-label>
        <input matInput type="text" name="" id="orderId" disabled>{{detail.orderId}}
    </mat-form-field>
    <!--Cantidad-->
    <mat-form-field class="col-md-6 text-center"  appearance="fill" >
        <mat-label  for="quantity" class="form-label">Cantidad</mat-label>
        <input  matInput type="text" name="" id="quantity" disabled >{{detail.quantity}}
    </mat-form-field>
    <!--Nombre producto-->
    <mat-form-field class="col-md-6 text-center" appearance="fill" >
        <mat-label for="productName" class="form-label">Producto</mat-label>
        <input matInput type="text" name="" id="productName" disabled>{{detail.productName}}
         <!--Boton Edit Product-->
        <app-editproduct></app-editproduct>
    </mat-form-field>
    <!--Proveedor-->
    <mat-form-field class="col-md-6 text-center" appearance="fill" >
        <mat-label for="proveedor" class="form-label">Proveedor</mat-label>
        <input matInput type="text" name="" id="proveedor" disabled >{{detail.proveedor}}
    </mat-form-field>
    <!--Servicio-->
    <mat-form-field class="col-md-12 text-center" appearance="fill" >
        <mat-label for="servicio" class="form-label">Tipo Servicio</mat-label>
        <input matInput type="text" name="" id="servicio" disabled>{{detail.servicio}}
        <!--Boton Edit Service-->
        <app-editservice></app-editservice>
    </mat-form-field>
</div>
