<div class="container table-responsive">
    <table class="table" mat-table [dataSource]="dataSource" matSort 
    class="mat-elevation-z8" >

    <!-- Position Column -->


    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef="let row" mat-sort-header sortActionDescription="Sort by number">
            Fecha
        </th>
        <td mat-cell *matCellDef="let row"> {{row.date}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="bloques" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Bloques de Horario
        </th>
        <td mat-cell *matCellDef="let row" >  
            <button mat-raised-button class="btn btn-success" *ngFor="let item of objectkeys(row)">
            {{row[item]}}
        </button>
    </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions] = "[5,10,15]" aria-label="Seleccione semana" ></mat-paginator>

</div>