<!--Radiobutton - answer if the client have the product or no-->
<!--if the service is "Despacho" this check doesn´t have to show to the user -->

<div class="checkout ">
  <ng-container>
    <div class="px-2">
      <div class="row">
        <div class="col-md-12">
          <p>¿El producto está en sus manos?</p>
          <mat-radio-group color="primary">
            <mat-radio-button value="Si" (change)="onTrueorFalse(false)" checked>
              Sí
            </mat-radio-button>
            <mat-radio-button value="No"(change)="onTrueorFalse(true)">
              No
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!--Hideform no-->
<!--Aquí se debe mostrar de igual forma el form de abajo-->

<ng-container *ngIf="isTrue then showDatepicker else showProductData" >
</ng-container>
<!--Show date picker-->
<ng-template #showDatepicker>
  <div class="container" >
    <br>
        <dateProduct></dateProduct>
  </div>
</ng-template>


<!--Hideform si-->
<ng-container *ngIf="isFalse then showProductData">
</ng-container>
<ng-template #showProductData>
  <detail-order></detail-order>
</ng-template>



