<div class="checkout ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup] = "subForm">
          <p>¿El producto está en sus manos?</p>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group" [(ngModel)]="optionselect" name="optionselect" color="primary" formControlName="optionselect">
            <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="option"  >
              {{option}}
            </mat-radio-button>
            <!--<p>tu seleccion es {{optionselect}} </p>--> 
        </mat-radio-group>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="optionselect=='Si' && !delivery_date then showDatepicker">
</ng-container>

<!--Hideform no-->
<ng-container *ngIf="optionselect=='No' then showDatepicker else showProductData" >
</ng-container>

<!--Show date picker-->
<ng-template #showDatepicker>
  <div class="container" >
    <dateProduct></dateProduct>
  </div>
</ng-template>


<!--Hideform si-->
<ng-container *ngIf="optionselect=='No' then showProductData">
</ng-container>
<ng-template #showProductData>
  <detail-order></detail-order>
</ng-template>


