<!--Radiobutton - answer if the client have the product or no-->
<!--if the service is "Despacho" this check doesn´t have to show to the user -->

<div class="checkout ">
  <div class="px-2">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="subForm">
          <p>¿El producto está en sus manos?</p>
        <mat-radio-group formControlName="haveProduct" color="primary">
          <mat-radio-button value="Si" (change)="onTrueorFalse(false)">
            Si
          </mat-radio-button>
          <mat-radio-button  value="No"(change)="onTrueorFalse(true)">
            No
          </mat-radio-button>
        </mat-radio-group>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Hideform no-->
<ng-container *ngIf="isTrue then showDatepicker else showProductData" >
</ng-container>
<!--Show date picker-->
<ng-template #showDatepicker>
  <div class="container" >
    <form [formGroup]="subForm">
      <br>
        <dateProduct></dateProduct>
    </form>
  </div>
</ng-template>


<!--Hideform si-->
<ng-container *ngIf="isFalse then showProductData">
</ng-container>
<ng-template #showProductData>
  <detail-order></detail-order>
</ng-template>


