<!--Radiobutton - answer if the client have the product or no-->

<mat-radio-group>
  <h1 class="w-100">¿El producto está en sus manos?</h1>
    <div class="row g-3">
      <mat-radio-button value="Si" (change)="onTrueorFalse(false)">
        Sí
      </mat-radio-button>
      
      <mat-radio-button value="No"(change)="onTrueorFalse(true)">
        No
      </mat-radio-button>
    </div>
</mat-radio-group>

<!--Hideform no-->

<div class="container" *ngIf="" >
  <p>Ingresar la fecha en la que debería haber llegado tu producto</p>
  <scheduling></scheduling>
    <p>Te contactaremos.</p>
  <button type="submit" class="btn btn-warning">Enviar</button>
</div>

<!--Hideform si-->
<br>
<div class="container" >
  <detail-order></detail-order>
  <p>Puedes modificar si crees que hay un error, te contactaremos para verificar la información.</p>
  <p>Si está todo correcto, presiona el botón 'Siguiente'</p>
</div>



