.title{
  font-family: 'Inter', sans-serif;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
button{
  font-family: 'Inter', sans-serif;
  border-radius: 10px;
  font-size: 12px;
  letter-spacing: 1px;
}

.order{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Inter', sans-serif;
	width: 100%;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

