.title{
  font-family: 'Inter', sans-serif;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
button{
  font-family: 'Inter', sans-serif;
  border-radius: 50px;
  font-size: 12px;
  letter-spacing: 1px;
}
#card{
  width: 75%;
}
.card{
  
  display: flex;
	justify-content: center;
	align-items: center;
}
@media(max-width: 999px){
  #card{
    width: 100%;
  }
}

@media(max-width: 2000px){
  
}
