<div class=" text-center">
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="none"><style>@keyframes check {
    to {
      stroke-dashoffset: 0;
    }
  }</style><circle cx="12" cy="12" r="8" stroke="#27AE60" stroke-width="1.5"/><path stroke="#58D68D" stroke-linecap="round" stroke-width="1.5" d="M9.215 12.052l1.822 1.805 3.748-3.714" style="animation:check 2s infinite cubic-bezier(.99,-.1,.01,1.02)" stroke-dashoffset="100" stroke-dasharray="100"/></svg>                                      
    <h1 class="display-5 fw-bold">Todo listo</h1>
    <div class="col-lg-6 mx-auto ">
      <p class="lead mb-4">La visita del técnico se agendó correctamente. Te enviaremos un correo con la información. <br> Recuerda que puedes contactarnos en caso de querer modificar algún dato.</p>
      <div class="d-grid py-4 gap-2 d-sm-flex justify-content-sm-center border-top">
        
        <button mat-stroked-button>Contáctanos</button>
      </div>
    </div>
</div>