* {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	h1{
		font-family: 'Inter', sans-serif;
	}
}
#course{
	width:100%;
	
}

.course {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

.course h5{
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	border-right: 3px solid #00E5FF;
}

#noborder {
	border-right: 0px;
}

.course h6 {
	
	opacity: 0.6;
	font-size: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	text-align: center;
	letter-spacing: 1px;
	font-size: 15px;
	cursor: pointer;
}

.course-info{
	background-color: #424242;
	color: white;
}


.order{
	border-left: 3px solid #00E5FF;
	.card-body{
		text-align: left;
		display: flex;
		font-family: 'Inter', sans-serif;
		
	}
	.card-text{
		font-size: calc(1.000rem + 0.05vw);
		font-family: 'Inter', sans-serif;
	}
}


@media screen and (max-width: 765px){
	.course h5{
		border-right: 0px;
	}
	
}

@media screen and (max-width: 800px) {
	#course{
		width: 100%;
	}
	.course {
		display: block;
		max-width: 100%;
	}
	.course-preview {
		color: #fff;
		padding: 20px;
		width: 100%;
	}

}

@media screen and (max-width: 999px) {
	#course{
		width: 100%;
	}
}