<!--Stepper-->
<app-header></app-header>

<div class="container">
  <mat-stepper class="example-stepper" #stepper color="primary" [orientation]="(stepperOrientation | async)!" linear>
    
    <!--Verificar el producto-->
  
    <mat-step [stepControl]="checkoutFormGroup" label="Verifique el producto"  [editable]="false" >
      <ng-template matStepContent>
        <form [formGroup]="checkoutFormGroup">
          <div class="py-4">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-lg-10">
                <h1 class="title">Datos del producto</h1>
                <p class="subtitle">Corrobore los datos del producto. Puede editar producto y/o Servicio.</p>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
          <!--Checkout product-->
          <div class="" >
            <checkoutproduct></checkoutproduct>
          </div>
        </form>
        <!--Actions-->
        <p style="color: #7B7D7D;">Si está todo en orden, presione Continuar.</p>
        <div class="d-grid gap-2 d-md-flex d-lg-flex justify-content-md-center mb-2">
          <button mat-raised-button class="btn-lg" color="primary" matStepperNext>Continuar</button>
        </div>
      </ng-template>
    </mat-step>
  
    
    
    <!--Verifica los datos del Cliente-->
    <mat-step [stepControl]="clientDataFormGroup" label="Confirme sus datos" [editable]="false" >
      <ng-template matStepContent>
        <form [formGroup]="clientDataFormGroup" >
          <div class="py-4">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-lg-10" >
                <h1 class="title">Datos de contacto</h1>
                <p class="subtitle">Corrobore sus datos de contacto. Añada referencias a su dirección o un número de telefono extra.</p>
              </div>
              <div class="col-md-1"></div>
            </div>
           
          </div>
          <!--Client data-->
          <div>
            <client-data></client-data>
          </div>
        </form>
      </ng-template>
      
    </mat-step>

    <!--Seleccion de un horario-->
    <mat-step [stepControl]="schedulingFormGroup" label="Agende el servicio" [editable]="false">
      <ng-template matStepContent>
        <form [formGroup]="schedulingFormGroup"  >
          <div class="py-4">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-lg-10">
                <h1 class="title">Selección de horario</h1>
                <p class="subtitle">Para agendar el servicio, seleccione el bloque horario de su preferencia según las fechas disponibles.</p>
              </div>
              <div class="col-md-1"></div>
            </div>
           
          </div>
          <!--Scheduling Component-->
          <div>
            <scheduling></scheduling>
          </div>
        </form>
      </ng-template>
      
    </mat-step>

    <!--Done-->
    <mat-step [stepControl]="endProcessFormGroup" label="Listo" [editable]="false" >
      <ng-template matStepContent>
        <form [formGroup]="endProcessFormGroup"   >
          <div class="py-4" id="instructions">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-lg-10">
                <h1 class="title">Todo listo</h1>
                <p class="subtitle">La visita se agendó correctamente. Te enviaremos un correo con la información detallada.</p>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
          <!--End process all done-->
          <app-end-process class="print-section"></app-end-process>
          
        </form>
        <br>
        <button mat-raised-button aria-label="Imprimir" id="btnPrint" onclick="print()">
          <img class="text-align: left" src="https://img.icons8.com/metro/26/undefined/pdf.png"/> Imprimir
        </button>

        <script>
          
          function print(){
            var data = document.getElementById('print-section').innerHTML;
            document.open();
            document.write();
            if (window.matchMedia('(min-width: 400px)').matches) {
              window.print();
              window.close();
              document.close();
            } else {
              window.print();
              document.close();
            }
          }
          
  
        </script>
    </ng-template>
    </mat-step>
      
    <!--End-->
  </mat-stepper>
</div>



