.example-stepper {
  margin-top: 8px;
  color: white;
  text-align: center;
  font-family: 'Cerebri Sans', sans-serif;
}

h2{
  font-family: 'Cerebri Sans', sans-serif;
}
h1{
  font-family: 'Cerebri Sans', sans-serif;
}
p{
  font-family: 'Cerebri Sans', sans-serif;
}
button{
  font-family: 'Cerebri Sans', sans-serif;
}

