<div class="container text-center">
  <h1> <b>Bienvenido/a xxxxx</b>
    </h1>
</div>
<div class="container">
  <mat-stepper
    class="example-stepper" color="accent"
    [orientation]="(stepperOrientation | async)!" >
    <mat-step [stepControl]="firstFormGroup" label="Verifica tu Producto" >
      <form [formGroup]="firstFormGroup">
        <mat-form-field appearance="fill">
          <h3></h3>
          <mat-label>Producto</mat-label>
          <input matInput placeholder="Selecciona una opción" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="accent" matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Confirma tus datos">
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Nombre y Apellido"
                 required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious>Atrás</button>
          <button mat-raised-button color="accent" matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Selección de horario">
      <form [formGroup]="thirdFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Selecciona un Horario</mat-label>
          <input matInput formControlName="thirdCtrl" placeholder="" required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious>Atrás</button>
          <button mat-raised-button color="accent" matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourFormGroup" label="Confirmar servicio">
      <form [formGroup]="fourFormGroup">
        <mat-form-field appearance="fill">
          <mat-label></mat-label>
          <input matInput formControlName="thirdCtrl" placeholder="Ex. 12345678" required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious>Atrás</button>
          <button mat-raised-button color="accent" matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Listo</ng-template>
      <div class="div">
        <h1></h1>
      </div>
      <div>
        <button mat-raised-button color="accent" matStepperPrevious>Enviar</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
