* {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
.example-stepper {
  text-align: center;
  border-radius: 5px;
  
}
.title {
  font-size: calc(1.375rem + 0.2vw);
  font-family: 'Inter', sans-serif;
  text-align: left;
  color:black;
}
.subtitle{
  font-family: 'Inter', sans-serif;
  text-align: left;
  color:#424949;
}

button{
  font-family: 'Inter', sans-serif;
  border-radius: 10px;
	color: #fff;
	font-size: 12px;
  font-weight: bold;
	padding: 5px 25px;
  letter-spacing: 1px;
}

