/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';


body{
    margin: 0;
    background-color: black;
    display: grid;
    width: 100%;
    min-height: 50vh;
    grid-template-rows: auto 1fr auto;
}   
body::-webkit-scrollbar{
    width: 10px;
    background: transparent;
}
body::-webkit-scrollbar-thumb{
    background: #1cb8d1;
    border-radius: 5px;
}
